.weather-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 326px;
}

.today {
    background-color: white;
    border: black;
    border: 1px solid;
    color: black;
    padding: 15px 32px;
    text-align: start;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    
    width: 1000px;
    height: 180px;
}   

.history-button {
    
    margin-top: 5px;
}